dependencies:
  shared:
    default:
      shared:
      r2.1:
      r2.3:
      r2.4:
      r2.5:
      r2.6:
      r2.7:
    dev:
      shared:
        - gem: codecov
          version: '~> 0.1.10'
          reason: 'used for coverage reporting; 0.1.10 stopped failing the build on upload failures'
        - gem: 'concurrent-ruby'
          version: '!= 1.1.6'
          reason: 'used by puppet and many others; skip 1.1.6 because of this issue: https://github.com/ruby-concurrency/concurrent-ruby/issues/849'
        - gem: dependency_checker
          version: '~> 0.2'
          reason: 'part of the default toolset install'
        - gem: facterdb
          version: ['>= 0.8.1', '< 2.0.0']
        - gem: gettext-setup
          version: '~> 0.26'
        - gem: metadata-json-lint
          version: ['>= 2.0.2', '< 3.0.0']
        - gem: mocha
          version: ['>= 1.0.0', '< 1.2.0']
        - gem: parallel_tests
          version: ['>= 2.14.1', '< 2.14.3']
        - gem: parser
          version: '~> 2.5.1.2'
        - gem: pry
          version: '~> 0.10.4'
        - gem: puppet-debugger
          version: '~> 0.18'
        - gem: puppet-lint
          version: ['>= 2.3.0', '< 3.0.0']
        - gem: puppet_pot_generator
          version: '~> 1.0'
        - gem: puppet-strings
          version: '~> 2.0'
        - gem: puppet-resource_api
          version: '~> 1.6' # 1.6 is still supported for puppet6/johnson/2019.0 until August 2019
        - gem: puppet-syntax
          version: ['>= 2.4.1', '< 3.0.0']
        - gem: puppetlabs_spec_helper
          version: ['>= 2.9.0', '< 3.0.0']
        - gem: rainbow
          version: '~> 2.0'
        - gem: rspec-puppet
          version: ['>= 2.3.2', '< 3.0.0']
        - gem: rspec-puppet-facts
          version: '~> 1.10.0'
        - gem: rubocop
          version: '~> 0.49.0'
        - gem: rubocop-i18n
          version: '~> 1.2.0'
        - gem: rubocop-rspec
          version: '~> 1.16.0'
        - gem: rspec_junit_formatter
          version: '~> 0.2'
        - gem: serverspec
          version: '~> 2.41'
        - gem: simplecov-console
          version: '~> 0.4.2'
        - gem: specinfra
          version: '2.82.2'
      r2.1:
        - gem: net-telnet
          version: '~> 0.1.1'
        - gem: i18n
          version: ['>= 1.0.0', '< 1.5.2']
      r2.3:
        - gem: activesupport
          version: ['>=5.0.0', '< 6.0.0']
          reason: "required by github_changelog_generator; v6 requires ruby 2.5 or later"
      r2.4:
        - gem: activesupport
          version: ['>=5.0.0', '< 6.0.0']
          reason: "required by github_changelog_generator; v6 requires ruby 2.5 or later"
      r2.5:
        - gem: puppet_litmus
          version: ['>= 0.4.0', '< 1.0.0']
        - gem: activesupport
          version: ['>=5.0.0', '< 6.0.0']
          reason: "required by github_changelog_generator; v6 requires ruby 2.5 or later"
      r2.6:
        - gem: activesupport
          version: '~> 6.0'
          reason: "required by github_changelog_generator; v6 requires ruby 2.5 or later"
        - gem: puppet_litmus
          version: ['>= 0.4.0', '< 1.0.0']
      r2.7:
        - gem: activesupport
          version: '~> 6.0'
          reason: "required by github_changelog_generator; v6 requires ruby 2.5 or later"
        - gem: puppet_litmus
          version: ['>= 0.4.0', '< 1.0.0']
    system:
      shared:
        - gem: beaker-i18n_helper
          version: '~> 1.1'
        - gem: beaker-module_install_helper
          version: ['>= 0.1.4', '< 1.0.0']
        - gem: beaker-puppet_install_helper
          version: ['>= 0.7.1', '< 1.0.0']
        - gem: beaker-task_helper
          version: ['>= 1.1.0', '< 2.0.0']
        - gem: master_manipulator
          version: ['>= 2.1.1', '< 3.0.0']
        - gem: beaker
          version: ['>= 4.0.0','< 5.0.0']
        - gem: beaker-puppet
          version: ['>= 1.6.0','< 2.0.0']
        - gem: beaker-abs
          version: ['>= 0.4.0','< 1.0.0']
        - gem: beaker-pe
          version: ['>=2.0.0','< 3.0.0']
        - gem: beaker-hostgenerator
          version: ['>=1.1.14','< 2.0.0']
        - gem: beaker-rspec
          version: ['>=6.2.4','< 7.0.0']
        - gem: beaker-aws
          version: ['>=0.6.0','< 1.0.0']
        - gem: beaker-docker
          version: ['>=0.3.3','< 1.0.0']
        - gem: beaker-google
          version: ['>=0.1.0','< 1.0.0']
        - gem: beaker-openstack
          version: ['>=0.2.0','< 1.0.0']
        - gem: beaker-vagrant
          version: ['>=0.5.0','< 1.0.0']
        - gem: beaker-vcloud
          version: ['>=1.0.0','< 2.0.0']
        - gem: beaker-vmpooler
          version: ['>=1.3.0','< 2.0.0']
        - gem: beaker-vmware
          version: ['>=0.3.0','< 1.0.0']
      r2.1:
        - gem: fog-openstack
          version: '0.1.25'
        - gem: net-ssh
          version: '~> 4.2.0' # Required for older Ruby version
      r2.3:
      r2.4:
      r2.5:
      r2.6:
      r2.7:
  posix:
    default:
      r2.1:
      r2.3:
      r2.4:
      r2.5:
      r2.6:
      r2.7:
    dev:
      shared:
        - gem: simplecov
          version: ['>= 0.14.1', '< 1.0.0']
        - gem: puppet-blacksmith
          version: '>= 3.4.0'
      r2.1:
      r2.3:
      r2.4:
      r2.5:
      r2.6:
      r2.7:
    system:
      r2.1:
      r2.3:
      r2.4:
      r2.5:
      r2.6:
      r2.7:
  win:
    default:
      shared:
      r2.1:
        - gem: nokogiri
          version: '1.7.2'
      r2.3:
      r2.4:
      r2.5:
      r2.6:
      r2.7:
    dev:
      r2.1:
      r2.3:
      r2.4:
      r2.5:
      r2.6:
      r2.7:
    system:
      r2.1:
      r2.3:
      r2.4:
      r2.5:
      r2.6:
      r2.7:
