dependencies:
  shared:
    default:
      r2.1:
      r2.3:
    dev:
      shared:
        - gem: mocha
          version: '< 1.2.0'
        - gem: parallel_tests
        - gem: pry
        - gem: puppet-blacksmith
          version: '>= 3.4.0'
        - gem: puppet_facts
        - gem: puppet-lint
        - gem: puppetlabs_spec_helper
          version: '>= 1.2.1'
        - gem: rspec-puppet
          version: '>= 2.3.2'
        - gem: rainbow
          version: '< 2.2.0'
        - gem: rubocop
      r2.1:
      r2.3:
        - gem: rubocop-rspec
          version: '~> 1.6'
    system:
      shared:
        - gem: beaker-puppet_install_helper
        - gem: beaker-module_install_helper
        - gem: master_manipulator
      r2.1:
      r2.3:
  posix:
    default:
      r2.1:
      r2.3:
    dev:
      shared:
        - gem: metadata-json-lint
        - gem: rspec-puppet-facts
        - gem: simplecov
      r2.1:
      r2.3:
    system:
      r2.1:
      r2.3:
  win:
    default:
      shared:
        - gem: win32-dir
          version: '<= 0.4.9'
        - gem: win32-eventlog
          version: '<= 0.6.5'
        - gem: win32-process
          version: '<= 0.7.5'
        - gem: win32-security
          version: '<= 0.2.5'
        - gem: win32-service
          version: '<= 0.8.8'
      r2.1:
      r2.3:
    dev:
      r2.1:
      r2.3:
    system:
      r2.1:
      r2.3:
